* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none; }

header .navbar {
  background-color: #edeeee; }
  header .navbar .bold1:hover {
    color: #3B413C;
    font-weight: bold; }
  header .navbar .logo {
    height: 75px; }
    header .navbar .logo:hover {
      transform: scale(1.05);
      border: #a2e3c4 solid 1px; }

header div ul li .nav-link:hover {
  background-color: #a2e3c4; }

.titulo1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a2e3c4;
  color: white; }

section form .formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px; }

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  margin-top: 15px; }
  .section1 form {
    margin: 5px 5px 5px 5px; }

.section2 {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column; }
  .section2 .tarjeta {
    width: 70%;
    margin: 5px;
    border: #a2e3c4 solid 3px;
    border-radius: 10px;
    transition: transform .1s; }
    .section2 .tarjeta:hover {
      transform: scale(0.95); }

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  margin: 15px;
  font-family: 'Fjalla One', sans-serif; }
  .section3 .texto1 {
    display: flex; }

.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d0f0e0;
  border-radius: 10px; }
  .section4 .card {
    border: 2px solid #d0f0e0;
    border-radius: 10px;
    margin: 15px;
    height: auto;
    margin: 5px; }
    .section4 .card:hover {
      transform: scale(1.05);
      border-radius: 15px; }
    .section4 .card .img2 {
      padding: 15%;
      height: 230px; }
      .section4 .card .img2:hover {
        background-color: #a2e3c4; }

.section5 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0f0e0; }

.section6 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a2e3c4;
  padding: 5px;
  flex-direction: column;
  font-family: 'Barlow Condensed', sans-serif; }
  .section6:hover {
    background-color: #e4f5ec;
    border: 1px solid #a2e3c4; }

.section7 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0f0e0;
  padding: 5px;
  flex-direction: column;
  font-family: 'Barlow Condensed', sans-serif; }
  .section7:hover {
    background-color: #e4f5ec;
    border: 1px solid #a2e3c4; }

.section8 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a2e3c4;
  padding: 5px;
  flex-direction: column;
  font-family: 'Barlow Condensed', sans-serif; }
  .section8:hover {
    background-color: #e4f5ec;
    border: 1px solid #a2e3c4; }

.section9 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0f0e0;
  padding: 5px;
  flex-direction: column;
  font-family: 'Barlow Condensed', sans-serif; }
  .section9:hover {
    background-color: #e4f5ec;
    border: 1px solid #a2e3c4; }

.wp {
  width: 70px;
  height: 70px;
  position: fixed;
  top: 750px;
  right: 0%; }
  .wp:hover {
    transform: scale(1.1); }

.d-flex {
  margin: 5px 5px 5px 5px; }

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 10px; }

.section-arcordion {
  margin-bottom: 15px; }

.section-envio {
  margin: 15px;
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column; }

footer section div .logo3 {
  text-decoration: none; }

footer section div .logo2 {
  width: 40px; }
  footer section div .logo2:hover {
    transform: scale(1.15); }

footer section div .link1:hover, footer section div .link3:hover {
  transform: scale(1.025);
  background-color: #a2e3c4; }

footer section div .link2:hover, footer section div .link4:hover {
  transform: scale(1.025);
  background-color: #d0f0e0; }

@media (max-width: 580px) {
  .section4 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center; } }
