header{
    .navbar{
        background-color: #edeeee;
        .logo{
            height: 75px;
        }
    }
    div{
        ul{
            li{
                .nav-link:hover{
                    background-color: #a2e3c4;
                }
            }
        }
    }
}